<a href="https://colab.research.google.com/github/minassy/ISID_2021/blob/main/210908_%E3%83%86%E3%82%B9%E3%83%88%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E8%AA%AD%E3%81%BF%E8%BE%BC%E3%81%BF_%E4%BD%9C%E6%88%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import zipfile
import glob
import pandas as pd
import numpy as np
import pathlib
from tqdm import tqdm

In [ ]:
#作業基本ディレクトリ
DIR = 'drive/MyDrive/00_Competition/ISID/2021'
os.listdir(DIR)
#os.mkdir(DIR+'/data')

['data',
 '210904_学習データの読み込み.ipynb',
 '210906_EDA_train.ipynb',
 '210908_テストデータの読み込み～作成.ipynb']

In [ ]:
DIR_DATA_TEST = os.path.join(DIR, 'data', 'Test_Unit_20210903')

In [ ]:
#サブフォルダを含む、全ファイルを取得しファイル数を確認。
#テストデータ
for folder in os.listdir(DIR_DATA_TEST):
  for C in os.listdir(os.path.join(DIR_DATA_TEST, folder)):
    files = glob.glob(os.path.join(DIR_DATA_TEST, folder, C, '*.csv'))
    print(f'{folder}','--',f'{C}のCSVファイル数：',len(files))

Test_Unit_1 -- ChargeのCSVファイル数： 70
Test_Unit_1 -- DischargeのCSVファイル数： 70
Test_Unit_2 -- ChargeのCSVファイル数： 12
Test_Unit_2 -- DischargeのCSVファイル数： 12
Test_Unit_3 -- ChargeのCSVファイル数： 55
Test_Unit_3 -- DischargeのCSVファイル数： 55

In [ ]:
#一連の流れを関数化。
def get_some_values(file_path):
  #ファイルパスから、ユニット名を取得。
  dirname = os.path.dirname(file_path)
  dirname_split = dirname.split('/')#区切り文字'/'で分割
  unit = dirname_split[-2]
  charge_mode = dirname_split[-1]
  #ファイルパスから、サイクル数を取得。
  basename = os.path.basename(file_path)
  basename_split = basename.split('_')[4]#区切り文字'_'で分割
  cycle_num = basename_split.split('.')[0]
  return unit, charge_mode, cycle_num

In [ ]:
%time
df_list = []
for folder in tqdm(os.listdir(DIR_DATA_TEST)):
  df_list_1 = []
  for C in ['Charge', 'Discharge']:
    files = glob.glob(os.path.join(DIR_DATA_TEST, folder, C, '*.csv'))
    df_list_0 = []
    for file in files:
      tmp_df = pd.read_csv(file, encoding='utf-8')
      unit, charge_mode, cycle_num = get_some_values(file)
      #新たに取得した、ユニット名、充・放電モード、サイクル数を付与
      tmp_df[['unit', 'charge_mode', 'Cycle_num']] = unit, charge_mode, cycle_num
      df_list_0.append(tmp_df)
    df_0 = pd.concat(df_list_0)
    df_list_1.append(df_0)
  df_1 = pd.concat(df_list_1)
  df_list.append(df_1)
df = pd.concat(df_list)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs

100%|██████████| 3/3 [02:19<00:00, 46.42s/it]

In [ ]:
df.shape

(345025, 12)

In [ ]:
df.head()

   Time (s)  Voltage Measured (V)  ...  Voltage Load (V)  Current Load (Amps)
0     0.000                3.4268  ...               NaN                  NaN
1     2.484                3.1242  ...               NaN                  NaN
2     7.297                3.5065  ...               NaN                  NaN
3    11.891                3.5454  ...               NaN                  NaN
4    16.484                3.5689  ...               NaN                  NaN

[5 rows x 12 columns]

In [ ]:
#データの確認
Dataframe = df
print('レコード数：',Dataframe.shape[0],'カラム数：',Dataframe.shape[1])
print('/'*30)
print('データセット情報:')
Dataframe.info()
print('/'*30)
print('欠損値確認：')
print(Dataframe.isnull().sum())
print('/'*30)
Dataframe.head()

レコード数： 345025 カラム数： 12
//////////////////////////////
データセット情報:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 345025 entries, 0 to 350
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Time (s)                 345025 non-null  float64
 1   Voltage Measured (V)     345023 non-null  float64
 2   Voltage Charge (V)       306521 non-null  float64
 3   Current Measured (Amps)  345023 non-null  float64
 4   Current Charge (Amps)    306521 non-null  float64
 5   Temperature (degree C)   345023 non-null  float64
 6   Unnamed: 6               0 non-null       float64
 7   unit                     345025 non-null  object
 8   charge_mode              345025 non-null  object
 9   Cycle_num                345025 non-null  object
 10  Voltage Load (V)         38504 non-null   float64
 11  Current Load (Amps)      38504 non-null   float64
dtypes: float64(9), object(3)
memory usage: 34.2+ MB
//////////////////////////////
欠損値確認：
Time (s)                        0
Voltage Measured (V)            2
Voltage Charge (V)          38504
Current Measured (Amps)         2
Current Charge (Amps)       38504
Temperature (degree C)          2
Unnamed: 6                 345025
unit                            0
charge_mode                     0
Cycle_num                       0
Voltage Load (V)           306521
Current Load (Amps)        306521
dtype: int64
//////////////////////////////

   Time (s)  Voltage Measured (V)  ...  Voltage Load (V)  Current Load (Amps)
0     0.000                3.4268  ...               NaN                  NaN
1     2.484                3.1242  ...               NaN                  NaN
2     7.297                3.5065  ...               NaN                  NaN
3    11.891                3.5454  ...               NaN                  NaN
4    16.484                3.5689  ...               NaN                  NaN

[5 rows x 12 columns]

In [ ]:
#CSVファイルとして一旦出力
df.to_csv(os.path.join(DIR_DATA_TEST, 'dataset_test_all.csv'), encoding='utf-8')

In [ ]:
os.listdir(DIR_DATA_TEST)

['Test_Unit_1', 'Test_Unit_2', 'Test_Unit_3', 'dataset_test_all.csv']